<%layout('layouts/boilerplate')%>
    <div id="map" style="width: 100%; height: 500px"></div>
    <a class="m-4 d-inline-block btn btn-outline-primary " href="/campgrounds/new">add Campground</a><br>
    <ul>
        <% for (let i of data) { %>
            <div class="card mb-4">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= i.images.length ? i.images[0].url : '/default.jpg' %>"
                             class="img-fluid rounded-start h-100 w-100" 
                             style="object-fit: cover;"
                             alt="<%= i.title %>">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body">
                            <h5 class="card-title"><%= i.title %></h5>
                            <p class="card-text"><%= i.description %></p>
                            <p class="card-text"><%=i.location%></p>
                            <a href="/campgrounds/<%= i.id %>" class="btn btn-primary">
                                View <%= i.title %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </ul>

<%- "<script>" %>
const maptilerApiKey = "<%= MAPTILER_API_KEY %>";
const camp = {
  type: "FeatureCollection",
  features: <%- JSON.stringify(
    data.map(camp => ({
      type: "Feature",
      geometry: camp.geometry,
      properties: {
        popUpMarkup: `<strong><a href="/campgrounds/${camp._id}">${camp.title}</a></strong><p>${camp.location}</p>`
      }
    }))
  ) %>
};
<%- "</script>" %>

<script src="/js/clusterMap.js"></script>